{% extends 'base.html' %}

{% block title %}密碼已重設 - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <i class="fas fa-check-circle fa-5x text-success mb-4"></i>
                <h3>密碼重設成功！</h3>
                <p class="text-muted mt-3">
                    您的密碼已經成功更新。<br>
                    現在可以使用新密碼登入。
                </p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">
                    前往登入
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}